@import '../../App.scss';

.main {
    width: 100%;
    padding: 25px 25px;

    .mainInner {        
        display: grid;
        grid-template-columns: repeat(6, 1fr);        
        gap: 26px;

        .items {
            position: relative;

            .imgView {
                width: 100%;

                img {
                    max-width: 100%;
                    max-height: 100%;
                    object-fit: cover;
                    aspect-ratio: 2/3;
                }
            }

            h2 {
                margin: 2px 0;
                font-weight: 400;
                font-size: 15px;
            }
        }
    }

    .noData {
        width: 100%;
        padding: 10px;
        background-color: $white-color;
        color: $primary-color;
        text-align: center;

        p{
            margin: 0;
        }
    }
}

@media (max-width: 768px) {
    .main {
        padding: 15px;
        .mainInner {
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;

            .items {
                h2 {
                    font-size: 12px;
                }
            }
        }
    }
}